{% extends 'base.html' %}

{% block title %}
    Modifica Profilo
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Modifica Profilo</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{ form|crispy }}
                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary">Salva modifiche</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
